.input__text, .input__textarea{
    text-align: left;
    letter-spacing: 1px;
    padding: 20px 2.5%;
    margin: 0;
    margin-bottom: 20px;
    font-size: 1em;
    line-height: 1.3em;
    background-color: #FFF;
    border: 1px solid #DBDBDB;
    font-family: $second-fontstack;
    font-weight: 300;
    @include vendor(border-radius, 4px);
    @include vendor(transition, border-color .25s ease);
    color: $brand-black;

    &.full{
        width: 100%;
    }

    &.required{
        background:transparent url('images/asterisk.png') 97.5% center no-repeat;
    }

        &:hover{
            border-color: #777;
        }

        &:focus{
            border-color: $brand-color;
            outline: none;
        }
}

.input__textarea{
    &.required{
        background:transparent url('images/asterisk.png') 97.5% 20px no-repeat;
    }
}

.form-check{
    position: relative;
    text-align: left;
    letter-spacing: 1px;
    padding: 20px 2.5%;
    margin: 0;
    margin-bottom: 20px;
    font-size: 1em;
    line-height: 1.3em;
    background-color: #FFF;
    border: 1px solid #DBDBDB;
    font-family: $second-fontstack;
    font-weight: 300;
    @include vendor(border-radius, 4px);
    @include vendor(transition, border-color .25s ease);
    color: $brand-black;
    @extend .cf;
    display: block;
    color: #A1A1A1;

    &.full{
        width: 100%;
    }

        &:hover{
            border-color: #777;
        }
}

.form-check__checkbox{
    position: absolute;
    top: 50%;
    right: 3%;
    @include vendor(transform, translateY(-50%));
}
