/*!
    .developer, .designer {
        person: Johnie Hjelm;
        email: johnie.hjelm@symbio.com;
        twitter: @johniehjelm;
        github: johnie;
    }
*/

// Defaults
@import "compass";
@import "defaults";

// Animate.sass
// @import "animate/shared";
// @import "animate/animations/fading-entrances/fadeIn";
// @import "animate/animations/fading-entrances/fadeInDown";
// @import "animate/animations/fading-entrances/fadeInUp";
// @import "animate/animations/fading-entrances/fadeInUpBig";

// Base
@import "base/headings";
@import "base/list";
@import "base/nav";
@import "base/paragraphs";

// Generic
@import "generic/mixins";
@import "generic/normalize";
@import "generic/resets";
@import "generic/helper";
@import "generic/grids";
@import "generic/widths";
@import "generic/spacings";

// Sections
@import "sections/header";
@import "sections/contact";
@import "sections/footer";
@import "sections/fourohfour";

// Objects
@import "objects/buttons";
@import "objects/forms";

// Main
@import "base/main";
