div.about-section#about
    div.container
        div.inner
            h3.section-title.with-border About 
                span Symbio
            h4.section-subtitle.
                Get your start-up ready for takeoff! You have the business concept and the funds, but need people with the right technical know-how to get a successful venture off the ground?

            p(class="intro mbh")
                | Symbio can instantly provide your business with the human resources you need to develop your services and grow your company. We are happy to be the interim solution while you get your team in place, or we can strengthen your team with specific competence that you may need from one time to another. 
                a(href="#contact" class="jump-next") You had me at hello! →

            div.grid.section-cols
                div.grid__item.one-half.section-cols__col   
                    h4.section-col__title We love innovation

                    p.
                        The common denominator for the staff at Symbio is that we all feel passionately about technology and innovation. Many of us have worked at start-ups before, and we love the creative juices that flow on the cutting edge of innovation. 
                    
                div.grid__item.one-half.section-cols__col
                    h4.section-col__title Taking you where you want to be

                    p.
                        OK, so you have an idea that requires pretty advanced technology? We promise that you cannot approach us with a technical challenge that will intimidate us. If the technology that you require is available, rest assured we know of it. If it’s not, we’ll invent it for you!


            div.grid.section-cols
                div.grid__item.one-third.section-cols__col                
                    h4.section-col__title Expert team
                    p.
                        Symbio can provide you with a team that will get the job done, or supply you with just the right person that will make your current team complete. Among our consultants you will find some of the best in their respective fields.
                    p.ptm
                        a(href="#expertteam" class="jump-next") Read more ›

                div.grid__item.one-third.section-cols__col 
                    h4.section-col__title Customer Experience               
                    p.
                        Don’t let the customers perform the testing for you. With agile development processes and test automation in place, your developers can work with full speed ahead. And do so in the right direction!
                    p.ptm
                        a(href="#customer" class="jump-next") Read more ›

                div.grid__item.one-third.section-cols__col
                    h4.section-col__title Lean start-up
                    p.
                        Rapid prototyping is a perfect choice when you look at development times of weeks rather than months or a year. Your investors want to see results, and using the lean start-up model you may have a working prototype as quickly as in a month. Symbio has the competence and experience required to develop the technology you need quickly and qualitatively. 
                    p.ptm
                        a(href="#leanstartup" class="jump-next") Read more ›

            div.grid
                div.grid__item.one-whole
                    h4.form__title.
                        In good company
                div.grid__item.one-quarter
                    div.company-logo
                        img(src="/images/tele2.png" alt="Tele2")
                div.grid__item.one-quarter
                    div.company-logo
                        img(src="/images/square.png" alt="Square")
                div.grid__item.one-quarter
                    div.company-logo
                        img(src="/images/evernote.png" alt="Evernote")
                div.grid__item.one-quarter
                    div.company-logo
                        img(src="/images/paypal.png" alt="Paypal")
