section(class="contact-section" id="contact")
    div.container
        div.inner
            h3.section-title.with-border Let's work 
                span together

            div.mbh.cf
                a(href="#" class="start-project  btn btn--small btn--full btn--black btn--plus") Start a project

            div.contact-form
                div.grid
                    div.grid__item.one-half
                        p.
                            We love to hear from new people, even if all your asking for is a little advice on how to move your business forward. If however, your looking to get a quote on your next project, head over to the <strong>Start a project</strong> section above. This will not only help us if your looking to get a quote but (and trust us when we say this) you'd be surprised at how much consideration a new digital project needs.

                        p.
                            We're down to earth, approachable people so no matter what's on your mind just drop us a line, we'd love to hear from you.

                        p
                            a(href="#") info@symbiosweden.se

                        div#map.contact-map

                    div.grid__item.one-half
                        input(type="text" class="input__text  required  full" placeholder="Enter your name")
                        input(type="email" class="input__text  required  full" placeholder="Enter your email address")
                        textarea(placeholder="Enter you message" class="input__textarea  full" cols="40" rows="10")
                        input(type="submit" class="btn btn--small btn--full btn--orange") Send
                    //- div.grid__item.one-whole
                    //-     h4.form__title.
                    //-         Your details
                    //- div.grid__item.one-half.cf
                    //-     input(type="text" class="input__text  required  full" placeholder="Enter your name")
                    //- div.grid__item.one-half.cf
                    //-     input(type="tel" class="input__text  required  full" placeholder="Enter a contact telephone number")
                    //- div.grid__item.one-half.cf
                    //-     input(type="email" class="input__text  required  full" placeholder="Enter your email address")
                    //- div.grid__item.one-half.cf
                    //-     input(type="text" class="input__text  required  full" placeholder="Enter your company")
