section(class="contact-section" id="contact")
    div.container
        div.inner
            h3.section-title.with-border Let's work 
                span together

            div.contact-form
                div.grid
                    div.grid__item.one-half.cf.mbh
                        p.section-subtitle.
                            We have a passion for open conversation and dialogue. Let's chat.

                        p.
                            We love to hear from new people, even if all your asking for is a little advice on how to move your business forward. If however, your looking to get a quote on your next project, head over to the <strong>contact form</strong> next.

                        p.
                            We're down to earth, approachable people so no matter what's on your mind just drop us a line, we'd love to hear from you.

                        div.contact-person
                            img(src="/images/anders.png" width="120" height="120" class="contact-person__image")
                            strong.contact-person__name.
                                Anders Carlsarv
                            p
                                a(href="mailto:anders.carlsarv@symbio.com") anders.carlsarv@symbio.com
                            p.
                                +46 73-389 68 53

                    div.grid__item.one-half.cf.mbh.pos-relative
                        form(name="contactform", id="contactform", method="post", action="" parsley-validate)
                            input(type="text" name="name" class="input__text  required  full" placeholder="Enter your name" parsley-required="true" parsley-error-message="Please enter your name" required)
                            input(type="email" name="email" class="input__text  required  full" placeholder="Enter your email address" parsley-type="email" parsley-required="true" parsley-error-message="Please enter your email address" required)
                            input(type="tel" name="phone" class="input__text full" placeholder="Enter your phone number")
                            textarea(placeholder="Enter you message" name="message" class="input__textarea  full" cols="40" rows="10")
                            input(type="submit" name="submit" value="Send" class="btn btn--small btn--full btn--orange")
                        #msgs

                    div.grid__item.one-whole.cf
                        div#map.contact-map
