div.customer-section#customer
    div.container
        div.inner
            h3.section-title.with-border Is <span>app testing</span> a challenge?
            h4.section-subtitle.
                Are you entirely sure that the application you are about to release is top notch, and do you feel confident that your most recent update will work as planned on all phones and platforms?

            div.grid
                div.grid__item.one-half.cf.mbh
                    p.intro.mbl
                        em
                            “Sure, we tested the app before the launch. The team got together and tested it thoroughly.”
                    p.mbl.intro.
                        OK, but unless you have tested the app professionally and methodically, we dare say that there will be bugs.
                div.grid__item.one-half.cf.mbh
                    <svg version="1.1" class="speedometer auto-size" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="316px" height="185px" viewBox="0 0 316 185" enable-background="new 0 0 316 185" xml:space="preserve"> <path fill="#EE881A" d="M158,0C70.878,0,0,70.879,0,158c0,2.762,2.239,5,5,5h43.714c2.761,0,5-2.238,5-5c0-57.503,46.782-104.285,104.286-104.285c57.504,0,104.286,46.782,104.286,104.285c0,2.762,2.238,5,5,5H311c2.762,0,5-2.238,5-5C316,70.879,245.121,0,158,0z"/><path id="ticker" fill="#3D464D" d="M169.813,148.957L158,19.5l-11.813,129.457C146.072,149.623,146,150.303,146,151c0,6.628,5.373,12,12,12s12-5.372,12-12C170,150.303,169.928,149.623,169.813,148.957z"/></svg> 
                div.grid__item.one-third
                    p.mbl.
                        For example, what happens if the phone rings exactly at the same time as your application is launched? Chances are that not all scenarios will happen spontaneously when you perform the testing manually over a cup of coffee. But rest assured. They will happen; and probably to your most valued customer. 
                div.grid__item.one-third
                    p.mbl.
                        In order not to outsource the testing to the users, you need to make all possible scenarios happen in the lab. Symbio can help you with the testing, and we can also help you get agile development processes and test automation in place.
                div.grid__item.one-third
                    p.mbl.
                        Clever testing processes ensure quality but also make the developers’ lives easier. It allows them to focus all their energy on what they do best, which in turn will shorten your time to market and reduce the risk as you approach public release.

                
