div.customer-section#customer
    div.container
        div.inner
            h3.section-title.with-border Is <span>app testing</span> a challenge?
            p.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, vel, quos, saepe, ullam inventore nostrum tempore voluptas neque ad a sunt soluta quo et cum minima nulla aspernatur cupiditate esse.
