div.expertteam-section#expertteam
    div.container
        div.inner
            h3.section-title.with-border Need some speed in 
                span development?
            h4.section-subtitle.
                Your guys are awesome at web development, but you find yourself in a position when you really need an Android app-guru. Or is it the other way around? This is where we can help!
            div.grid
                div.grid__item.one-half
                    div.terminal
                        p.shell
                            span.path ~
                            span.prompt $
                            span.command sudo apt-get install konquer
                        p.shell
                            span.path ~
                            span.prompt $
                            span.command konquer -r /world
                        p.shell
                            span.path ~
                            span.prompt $
                            span.command chown symbio /world
                        p.shell
                            span.path ~
                            span.prompt $
                            span.command chmod 700 /world
                div.grid__item.one-half
                    p.mbl.
                        Symbio can provide you with one single expert with exactly the cutting edge expertise that will make your current team complete, or with an entire team that will turn your visions into a reality. Among our developers you will find some of the best in their respective fields.
                    p.mbl.
                        So what’s the catch? There’s none really. Our business model is based on the reality that you live in, and we understand that you face a forecast horizon of weeks or months rather than years. You need agility, and this is what we provide. Competence that’s crucial today for the development of your business today may not be needed in a month.
                    p.mbl
                        em.
                            We’re not here to lock you up – we are here to set you free!
