section(class="main-section sections" id="home")
    header.header
        div.container
            div.grid
                div.grid__item.one-fifth
                    h1.site-name= name
                    img(src="/images/logo.svg", alt="Symbio", class="logo")
                div.grid__item.four-fifths
                    ul.first-nav.float--right.nav
                        include nav

    div.site-caption
        h2.site-caption--slogan
            span We love creating
            | web &amp; mobile apps
        
        p.site-caption--disclaimer.
            Every single developer and designer on Symbio is carefully handpicked to turn your mobile or web project into something incredible. Our mission is to uncover the best answers to real problems for real companies, real organizations, and real people.
        
        a(href="#about" id="jump-link").btn.btn--small.btn--white.btn--soft Learn more

    div.trace

