extends layout

block content
    include header
    main.main
        nav.navigation
            div.container
                div.menu-btn.float--right
                    span.
                        Menu
                div.grid
                    div.grid__item.one-fifth
                        a(href="/")
                            img(src="/images/logo.svg", alt="Symbio", class="small-logo")
                    div.grid__item.four-fifths
                        ul.main-menu.nav.float--right
                            include nav

        include about  
        include expertteam
        include customer
        include leanstartup  
        include contact
