div.leanstartup-section#leanstartup
    div.container
        div.inner
            h3.section-title.with-border <span>Entrepreneurs</span> are everywhere
            p.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, vel, quos, saepe, ullam inventore nostrum tempore voluptas neque ad a sunt soluta quo et cum minima nulla aspernatur cupiditate esse.
