div.leanstartup-section#leanstartup
    div.container
        div.inner
            h3.section-title.with-border <span>Entrepreneurs</span> are everywhere
            h4.section-subtitle.
                You have the idea, the business know-how and the funds. Now you need to turn your vision into an actual product, and you need to do it quickly. Your investors want to see results!

            div.flexbox
                div.flexbox__item.one-half
                    img(src="/images/analytics.svg" alt="lean startup" class="analytics")
                div.flexbox__item.one-half
                    p.mbl.
                        Rapid prototyping is the perfect choice when you look at development times of weeks rather than months or a year. Leveraging Symbio to define and create your initial Minimum Viable Product, you may have a working prototype as quickly as in a month, even if you do not have your own team in place.

                    p.mbl.
                        The benefit is that the first prototype can be used to test the product on a select group of people to see how the market receives it. That allows you to tweak your invention, and thereafter move confidently toward a sharp release.

                    p.mbl
                        Symbio has the competence and experience required to develop the technology you need; quickly and qualitatively. We feel passionately about helping entrepreneurs succeed, and we love being a part of that journey. There’s nothing like seeing an idea turn into reality, and to watch it spread like wildfire around the world.

                    p
                        em.
                            We’ll take you from where you are to where you want to be. From vision to reality. 
