li
    a(href="#home") Home
li
    a(href="#about") Who we are
li.res-show
    a(href="#expertteam") Expert team
li.res-show
    a(href="#customer") Testing
li.res-show
    a(href="#leanstartup") Lean Start-up
li
    a(href="#contact") Contact
