.main-section{
    background:$base-color url('images/header.jpg') center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 1 !important;

    &.js-bg-scroll{
        background-attachment: scroll!important;
    }
}

.header{
    top: 10%;
    position: relative;
    @extend .cf;
    // @include animation(fadeInDown, .5s, 1s, alternate, backwards, ease-out);
}

.first-nav{
    height: 54px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;

    li{
        padding-left: $base-spacing-unit*1.5;
        padding-top: 17px;
    }

    a{
        color: #eee;
        line-height: 1;
        text-decoration: none;
        @include vendor(transition, color .25s ease-out);
        position: relative;

        &::before {
            position: absolute;
            top: 100%;
            left: 50%;
            color: transparent;
            content: '•';
            text-shadow: 0 0 transparent;
            font-size: 1.2em;
            -webkit-transition: text-shadow 0.3s, color 0.3s;
            -moz-transition: text-shadow 0.3s, color 0.3s;
            transition: text-shadow 0.3s, color 0.3s;
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            transform: translateX(-50%);
            pointer-events: none;
        }

        &:hover{
            color: #FFF;
        }

        &:hover::before,
        &:focus::before,
        &.js-current::before {
            color: $brand-color;
            text-shadow: 10px 0 $brand-color, -10px 0 $brand-color;
        }
    }
}

.site-caption{
    width: 800px;
    color: #FFF;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    // @include animation(fadeIn, .5s, 2s, alternate, backwards, ease-out);
    position: absolute;
    top: 50%;
    left: 50%;
    @include vendor(transform, translate(-50%,-40%));

        @media (max-width: $tablet-size) {
            width: 600px;
        }

        @media (max-width: $phone-size) {
            width: 100%;
            padding: 0px 10px;
        }
}

.site-caption--slogan{
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.2;
    font-size: 3.5em;
    margin-bottom: 30px;

    span{
        display: block;
        color: $brand-color;
    }

        @media (max-width: $tablet-size) {
            font-size: 3em;
        }

        @media (max-width: $phone-size) {
            font-size: 2em;
        }
}

.site-caption--disclaimer{
    font: 24px $second-fontstack;
    text-transform: none;
    letter-spacing: 0;
    line-height: 1.4;
    font-weight: 300;
    margin-bottom: 30px;
    color: #FFF;

        @media (max-width: $tablet-size) {
            font-size: 20px;
            font-weight: 400;
        }

        @media (max-width: $phone-size) {
            font-size: 18px;
            font-weight: 400;
        }
}

.trace{
    position: absolute;
    width: 2px;
    background:#FFF;
    height: 10%;
    bottom: 0;
    left: 50%;
    @include vendor(transform, translateX(-50%));
    // @include animation(fadeInUpBig, 1s, 3s, alternate, backwards, ease-out);

    &:before{
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        background:#FFF;
        @include vendor(border-radius, 100%);
        position: absolute;
        top: 0;
        left: 50%;
        @include vendor(transform, translateX(-50%));
    }
}
