/*------------------------------------*\
    $GRIDS
\*------------------------------------*/
/**
 * Fluid and nestable grid system, e.g.:
 *
   <div class="grid">

       <div class="grid__item  one-third">
           <p>One third grid</p>
       </div><!--

    --><div class="grid__item  two-thirds">
           <p>Two thirds grid</p>
       </div><!--

    --><div class="grid__item  one-half">
           <p>One half grid</p>
       </div><!--

    --><div class="grid__item  one-quarter">
           <p>One quarter grid</p>
       </div><!--

    --><div class="grid__item  one-quarter">
           <p>One quarter grid</p>
       </div>

   </div>
 *
 *
 */

/** 
 * Grid container
 */

.container{
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 $base-spacing-unit;
}

/**
 * Grid wrapper
 */
.grid{
    margin-left:-$base-spacing-unit;
    list-style:none;
    margin-bottom:0;
    @extend .cf;
}


    /**
     * Very infrequently occuring grid wrappers as children of grid wrappers.
     */
    .grid > .grid{
        margin-left:0;
    }


    /**
     * Grid
     */
    .grid__item{
        display:block;
        float: left;
        width:100%;
        padding-left:$base-spacing-unit;
        vertical-align:top;
        @include vendor(box-sizing, border-box);
    }

.flexbox{
    display:table;
    width:100%;
}

/**
 * Nasty hack to circumvent Modernizr conflicts.
 */
html.flexbox{
    display:block;
    width:auto;
}

    .flexbox__item{
        display:table-cell;
        vertical-align:middle;
    }

@media (max-width: $phone-size) {
  .grid__item{
    float:none;
    width: 100% !important;
      &:after{
        content:"";
        display:table;
        clear:both;
      }
  }
  .flexbox__item{
    display: block;
    vertical-align: top;
    width: 100% !important;
    float: none;

      &:after{
        content:"";
        display:table;
        clear:both;
      }
  }
}
