/* Small margins */
.mas { margin: 5px; }
.mts { margin-top: 5px; }
.mrs { margin-right: 5px; }
.mbs { margin-bottom: 5px; }
.mls { margin-left: 5px; }

/* Medium margins */
.mam { margin: 10px; }
.mtm { margin-top: 10px; }
.mrm { margin-right: 10px; }
.mbm { margin-bottom: 10px; }
.mlm { margin-left: 10px; }

/* Large margins */
.mal { margin: 20px; }
.mtl { margin-top: 20px; }
.mrl { margin-right: 20px; }
.mbl { margin-bottom: 20px; }
.mll { margin-left: 20px; }

/* Huge margins */
.mah { margin: 40px; }
.mth { margin-top: 40px; }
.mrh { margin-right: 40px; }
.mbh { margin-bottom: 40px; }
.mlh { margin-left: 40px; }

/* Small paddings */
.pas { padding: 5px; }
.pts { padding-top: 5px; }
.prs { padding-right: 5px; }
.pbs { padding-bottom: 5px; }
.pls { padding-left: 5px; }

/* Medium paddings */
.pam { padding: 10px; }
.ptm { padding-top: 10px; }
.prm { padding-right: 10px; }
.pbm { padding-bottom: 10px; }
.plm { padding-left: 10px; }

/* Large paddings */
.pal { padding: 20px; }
.ptl { padding-top: 20px; }
.prl { padding-right: 20px; }
.pbl { padding-bottom: 20px; }
.pll { padding-left: 20px; }

/* Huge paddings */
.pah { padding: 40px; }
.pth { padding-top: 40px; }
.prh { padding-right: 40px; }
.pbh { padding-bottom: 40px; }
.plh { padding-left: 40px; }
